.paper {
  background-color: var(--token-alias-background-normal, light-dark(#ffffff, #3d3d42));
  margin-top: var(--paper-margin-top, 0);
  margin-bottom: var(--paper-margin-bottom, 0);
  padding: var(--paper-padding, 1.5rem);
  padding-top: var(--paper-padding-top, 1rem);
  padding-bottom: var(--paper-padding-bottom, 1.5rem);
}
